<div class="content">
    {{ content }}
    <div>武林高手列表</div>
    <div>
        {{#each data_list}}
            <h3>{{id}} - {{name}} - {{age}}岁 - 英文名：{{UPP e_name }}</h3>
        {{/each}}
        {{gender}}
    </div>
</div>